body {
  font-family: "Roboto", sans-serif;
  background-color: #c2dfef;
}

header {
  background-color: #000000;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}

a {
  color: #ffffff;
}

h1 {
  text-align: left;
  padding: 1rem;
  background-color: #0b80c1;
  color: #ffffff;
}

h2 {
  text-align: center;
  margin-top: 1.5rem;
}

h3 {
  text-align: center;
  margin-top: 3rem;
}

h4 {
  text-align: center;
  margin: 1rem 10rem;
  background-color: #7fffd4;
  border-radius: 100%;
  padding: 3rem 2rem;
  width: 8rem;
  height: 8rem;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.5rem;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

p {
  text-align: center;
  font-size: 1.1rem;
  /* margin: 0.5rem; */
  font-weight: 600;
  line-height: 1.7;
}
