body {
  font-family: "Roboto", sans-serif;
  background-color: #c2dfef;
}

header {
  background-color: #000000;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 3rem;
}

a {
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 2rem;
  border-radius: 1rem;
  align-items: center;
  position: relative;
  height: 70vh;
  width: auto;
}

h1 {
  text-align: left;
  padding: 1rem;
  background-color: #0b80c1;
  color: #ffffff;
}

h2 {
  text-align: center;
  margin-top: 1.5rem;
}

h3 {
  text-align: center;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.5rem;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

p,
pre {
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
  font-weight: 600;
  line-height: 1.7;
}

pre {
  font-family: "Roboto", sans-serif;
}
