button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.controls {
  position: absolute;
  bottom: 0.5rem;
  right: 3rem;
  width: 60%;
  text-align: end;
}

.resultControls {
  display: flex;
}

.controlsBtn {
  background-color: #0b80c1;
  color: #ffffff;
  width: 35%;
}

.hide {
  display: none;
}

.color-button1 {
  background-color: #ea4335;
}

.color-button2 {
  background-color: #fbbc04;
}

.color-button3 {
  background-color: #4285f4;
}

.color-button4 {
  background-color: #34a853;
}

.color-correct {
  background-color: #00ff48;
}

.color-neutral {
  background-color: #d3d3d3;
}

.color-wrong {
  background-color: #ff0000;
}

.disableButton {
  color: #000000;
}
